body {
    background-color: #A5A692;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    text-align: center;
    color: #FFFFFF;
    background-color: #011F26;

}

h2 {
    color: #025E73;
}

.autor {
    text-align: right;
    background-color:#BFB78F;
}

.separador {
    text-align: center;
    color:#025E73;
}
